{% extends "base.html" %} {% block content %}
<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Password reset completed!</h1>

        {% if form.errors %}
        <ul class="error-messages">
          {% for error in form.errors.values %} {{ error.as_text }} {% endfor %}
        </ul>
        {% endif %}

        <a href="{% url 'two_factor:login' %}">
          <button
            class="btn btn-lg btn-primary pull-xs-right"
            action="{% url 'two_factor:login' %}"
          >
            Go Home
          </button></a
        >
      </div>
    </div>
  </div>
</div>
{% endblock content %}
