{% extends "base.html" %} {% block content %}
<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Reset Password</h1>


        {% if form.errors %}
        <ul class="error-messages">
          {% for error in form.email.errors %} {{ error.as_text }} {% endfor %}
        </ul>
        {% endif %}

        <form method="post" >
          {% csrf_token %}
          <fieldset class="form-group">
            <input
              type="email"
              name="email"
              placeholder="Email"
              class="form-control form-control-lg"
              id="id_email"
              value="{{ form.email.value|default_if_none:'' }}"
            />
          </fieldset>

          </fieldset>
          {% comment %} {{ form.as_p }} {% endcomment %}

          <button class="btn btn-lg btn-primary pull-xs-right">Reset</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
